@{
    ViewData["Title"] = "Home Page";
}

<head>

</head>
<body>
    <div class="text-center">
        <div class="object-1"></div>
        <div class="object-1 object-2"></div>
        <div class="begin-object-1"></div>
        <div class="object-1-end"></div>
        <div class="object-2"></div>
        <div class="object"></div>
        <div class="object-1 object"></div>
    </div>
    <div><button id="start">Start</button></div>
</body>




